{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    <title>Registry Office</title>
</head>
<body>
    <div id="box">
    <header class="heeo__header">
        {% comment %} <h1><a href="{% url 'index' %}" class="index-navigation"><img class="index-navigation__logo_img" src="{% static 'images/natfa_logo_75-2.png' %}" alt="natfa-logo"></a></h1> {% endcomment %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'images/natfa_logo_75-2.png' %}" alt="natfa-logo" width="150" height="74"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        {% if not request.user.profile %}
                            <li class="nav-item" style="color: #D8F0FE">За да работите със ситемата, моля <a href="{% url 'user-edit' %}" class="nav-link">добавете профил</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{% url 'news-create' %}" class="nav-link">СЪЗДАЙ НОВИНА</a></li>
                            <li class="nav-item"><a href="{% url 'incoming-dashboard' %}" class="nav-link">ВХОДЯЩ РЕГИСТЪР</a></li>
                            <li class="nav-item"><a href="{% url 'outgoing-dashboard' %}" class="nav-link">ИЗХОДЯЩ РЕГИСТЪР</a></li>
                            <li class="nav-item"><a href="{% url 'user-details' %}" class="nav-link">Потребител: {{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</a></li>
                        {% endif %}
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">{{ request.user }} ИЗХОД</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'register-user' %}" class="nav-link">РЕГИСТРАЦИЯ</a></li>
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">ВХОД</a></li>
                    {% endif %}
                </ul>
            </div>

        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock  %}
    </main>

    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            <p> &copy; Lokumchev 2023. All rights reserved.</p>
        </div>
    </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>