{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="heeo__header">
        <nav class="hero__nav">
            <div class="hero__logo_wrapper">
                <a href="{% url 'index' %}" class="hero__logo_img"><img src="{% static 'images/natfa_logo_75-2.png' %}" alt="natfa-logo"></a>
            </div>

            <ul class="hero__nav_ul" role="list">
                {% if request.user.is_authenticated %}
                <li class="hero__nav_links"><a href="{% url 'user-details' %}" class="hero__nav_links hero__nav_anchor">ПОТРЕБИТЕЛСКИ ПРОФИЛ</a></li>
                <li class="hero__nav_links"><a href="{% url 'logout' %}" class="hero__nav_links hero__nav_anchor">ИЗХОД</a></li>
                {% else %}
                <li class="hero__nav_links"><a href="{% url 'register-user' %}" class="hero__nav_links hero__nav_anchor">РЕГИСТРАЦИЯ</a></li>
                <li class="hero__nav_links"><a href="{% url 'login' %}" class="hero__nav_links hero__nav_anchor">ВХОД</a></li>
                {% endif %}
            </ul>

        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock  %}
    </main>

    <footer>
        <p>Copyright by Lokumchev</p>
    </footer>

    
</body>
</html>