{% extends 'base.html' %}
{% load check_group_exists %}

{% block content %}
    <section>
        <h2>УПРАВЛЕНИЕ НА КЛАСИФИКАТОРИ "ТИП ДОГОВОР"</h2>


        {% if not object_list %}
            <h4>Няма добавени класификатори "Тип договор"</h4>
        {% else %}
            <table class="table table-light table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Номер на идентификатора</td>
                        <td>Тип на договора</td>
                        {% if request.user|has_group:'admin' or request.user.is_staff or request.user.is_superuser %}
                            <td>Изтриване на класификатор "Тип договор"</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for type in object_list %}
                        <tr>
                            <td>{{ type.pk }}</td>
                            <td>
                                <a href="{% url 'contract-types-edit' pk=type.pk %}" class="link-dark">
                                    {{ type.contract_type|truncatechars:80 }}
                                </a>
                            </td>
                            
                            {% if request.user|has_group:'admin' or request.user.is_staff or request.user.is_superuser %}
                                <td><a href="{% url 'contract-types-delete' pk=type.pk %}" class="link-danger">Изтрий</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if request.user|has_group:'admin' or request.user|has_group:'administrative_manager' or request.user|has_group:'document_controller' or request.user.is_staff or request.user.is_superuser %}
            <a href="{% url 'contract-types-create' %}" class="btn btn-outline-dark mb-3">Създаване на нов класификатор "Тип договор"</a>
        {% endif %}

    </section>
{% endblock  %}
