{% extends 'base.html' %}
{% load check_group_exists %}

{% block content %}
    <section>
        <h2>РЕГИСТЪР НА ВХОДЯЩА КОРЕСПОНДЕНЦИЯ</h2>

        <form action="{% url "incoming-dashboard" %}?page={{ page_obj.number}}" class="row g-3">
            <div class="col-auto">
                <input type="number" name="log-num" placeholder="Търсене по номер" value="{{ selected_log_num }}" class="form-control mb-3">
            </div>
            <div class="col-auto">
                <input type="text" name="search" value="{{ search }}" placeholder="Търсене в описанието" class="form-control mb-3">
            </div>
            <div class="col-auto">
                <input type="date" name="from-date" class="form-control mb-3">
            </div>
            <div class="col-auto">
                <input type="date" name="to-date" value="{{ current_date }}" class="form-control mb-3">
            </div>
            {# <label for="rows_per_page">Брой редове на страница:</label> #}
            <div class="col-auto">
                <input
                    type="number"
                    name="rows_per_page"
                    id="rows_per_page"
                    value="{{ paginator.per_page }}"
                    min="1"
                    placeholder="Въведи брой редове"
                    class="form-control mb-3"
                >
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-outline-dark mb-3">Търси</button>
            </div>
        </form>

        {% if not object_list %}
            <h4>Няма добавени документи в регистъра</h4>
        {% else %}
            <table class="table table-light table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Номер и дата на регистрация</td>
                        <td>Описание</td>
                        <td>Резолюция на ректора</td>
                        <td>Разпределение</td>
                        <td>Становище</td>
                        <td>Час на регистрация</td>
                        {% if request.user|has_group:'admin' or request.user.is_staff or request.user.is_superuser %}
                            <td>Регистратор</td>
                        {% endif %}
                        <td>Последна промяна</td>
                        <td>Прикачен файл</td>
                    </tr>
                </thead>
                <tbody>
                    {% for document in object_list %}
                        <tr>
                            <td>
                                В /
                                {{ document.log_num }}{% if document.sub_log_num %}-{{ document.sub_log_num }}{% endif %}
                                / {{ document.creation_date|date:"d.m.Yг." }}
                            </td>
                            <td>
                                <a
                                    href="{% url 'incoming-details' pk=document.pk %}"
                                    class="link-dark"
                                >
                                    {{ document.title|truncatechars:50 }}
                                </a>
                            </td>
                            {% if document.rectors_resolution %}
                                <td>Има</td>
                            {% else %}
                                <td>Няма</td>
                            {% endif %}
                            {% if document.concerned_employees.exists %}
                                <td>Има</td>
                            {% else %}
                                <td>Няма</td>
                            {% endif %}
                            {% if document.personopinionmodel_set.exists %}
                                <td>Има</td>
                            {% else %}
                                <td>Няма</td>
                            {% endif %}
                            <td>{{ document.creation_date|date:"H:i часа." }}</td>
                            {% if request.user|has_group:'admin' or request.user.is_staff or request.user.is_superuser %}
                                <td>{{ document.creator_user }}</td>
                            {% endif %}
                            <td>{{ document.last_change_date|date:"d.m.Yг. в H:i часа." }}</td>
                            <td>
                                {% if document.first_document_file %}
                                    <p>
                                        <a
                                            href="{{ document.first_document_file.url }}"
                                            target="_blank"
                                            class=""
                                        >
                                            Преглед на първи документ
                                        </a>
                                    </p>
                                {% endif %}
                                {% if document.second_document_file %}
                                    <p>
                                        <a
                                            href="{{ document.second_document_file.url }}"
                                            target="_blank"
                                            class=""
                                        >
                                            Преглед на втори документ
                                        </a>
                                    </p>
                                {% endif %}
                                {% if document.third_document_file %}
                                    <p>
                                        <a
                                            href="{{ document.third_document_file.url }}"
                                            target="_blank"
                                            class=""
                                        >
                                            Преглед на трети документ
                                        </a>
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="">
                <span class="">
                    {% if page_obj.has_previous %}
                        <a 
                            href="?page={{ page_obj.previous_page_number }}&log-num={{ selected_log_num }}&search={{ search }}&from-date={{ from_date }}&to-date={{ to_date }}&rows_per_page={{ rows_per_page }}"
                        >
                            &lt;
                        </a>
                    {% else %}
                        <a>&lt;</a>
                    {% endif %}

            
                    <span class="">
                        Страница {{ page_obj.number }} / {{ paginator.num_pages }}
                    </span>
            
                    {% if page_obj.has_next %}
                        <a
                            href="?page={{ page_obj.next_page_number }}&log-num={{ selected_log_num }}&search={{ search }}&from-date={{ from_date }}&to-date={{ to_date }}&rows_per_page={{ rows_per_page }}"
                        >
                            &gt;
                        </a>
                    {% else %}
                        <a>&gt;</a>
                    {% endif %}
                </span>
            </div>

            {% comment %} <form method="get" style="display:flex" action="">
                <label for="rows_per_page" class="form-label">Брой редове на страница:</label>
                <input type="number" name="rows_per_page" id="rows_per_page" value="{{ paginator.per_page }}" min="1" placeholder="Въведи брой редове" class="form-control mb-3">
            
                <button type="submit" class="btn btn-outline-dark mb-3">Покажи</button>
            </form> {% endcomment %}

            {% if request.user|has_group:'admin' or request.user|has_group:'administrative_manager' or request.user|has_group:'document_controller' or request.user.is_staff or request.user.is_superuser %}
                <a
                    href="?export&log-num={{ selected_log_num }}&search={{ search }}&from-date={{ from_date }}&to-date={{ to_date }}&rows_per_page={{ rows_per_page }}"
                    class="btn btn-outline-dark mb-3"
                >
                    Експорт в Excel
                </a>
            {% endif %}
        {% endif %}

        {% if request.user|has_group:'admin' or request.user|has_group:'administrative_manager' or request.user|has_group:'document_controller' or request.user.is_staff or request.user.is_superuser %}
            <a
                href="{% url 'incoming-create' %}"
                class="btn btn-outline-dark mb-3"
            >
                Регистриране на нов документ
            </a>
        {% endif %}

    </section>
{% endblock  %}
