{% extends 'base.html' %}
{% load check_group_exists %}

{% block content %}
    <section>
        <h2>РЕГИСТЪР НА ИЗХОДЯЩА КОРЕСПОНДЕНЦИЯ</h2>


        {% if not object_list %}
            <h4>Няма добавени документи в регистъра</h4>
        {% else %}
            <table class="table table-dark table-striped-columns">
                <thead>
                    <tr>
                        <td>Номер в регистъра</td>
                        <td>Описание</td>
                        <td>Получател на документа</td>
                        <td>Име на подателя</td>
                        <td>Длъжност на подателя</td>
                        <td>Регистриран на</td>
                        <td>Прикачен файл</td>
                    </tr>
                </thead>
                <tbody>
                    {% for document in object_list %}
                        <tr>
                            <td>{{ document.log_num }}</td>
                            <td><a href="{% url 'outgoing-details' pk=document.pk %}">{{ document.title|truncatechars:50 }}</a></td>
                            <td>{{ document.recipient }}</td>
                            <td>{{ document.signatory_profile.first_name }} {{ document.signatory_profile.last_name }}</td>
                            <td>{{ document.signatory_profile.position }}</td>
                            <td>{{ document.creation_date|date:"d.m.Yг. в H:i часа" }}</td>
                            <td>{{ document.document_img }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
        {% if request.user|has_group:'admin' or request.user|has_group:'document_controller' or request.user.is_staff or request.user.is_superuser %}
            <a href="{% url 'outgoing-create' %}">Регистриране на нов документ</a>
        {% endif %}
    </section>
{% endblock  %}
