{% extends 'base.html' %}

{% block content %}
    <h2>РЕГИСТЪР НА ИЗХОДЯЩА КОРЕСПОНДЕНЦИЯ</h2>

    <table>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for document in object_list %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}
