{% extends 'base.html' %}
{% load check_group_exists %}

{% block content %}
    <div style="display: flex">
        <section class="card text-bg-secondary mb-3" style="max-width: 55rem;">
            <h2 class="card-header">{{ object.title }} с регистрационен номер {{ object.log_num }} от {{ object.creation_date|date:"d.m.Yг. - H:i часа" }}</h2>

            <article class="card-body">
                <p class="card-text">Номер в регистъра: {{ object.log_num }}</p>
                <p class="card-text">Регистриран на: {{ object.creation_date|date:"d.m.Y в H:i" }}</p>
                <p class="card-text">Описание: {{ object.title }}</p>
                <p class="card-text">Тип: {{ object.contract_type }}</p>
                {% if object.concerned_employees.exists %}
                    <ul class="card-text">Заинтересовани служители:
                    {% for c_employees in object.concerned_employees.all %}
                        {% for employee in c_employees.employee_owner.all %}
                            <li>{{ employee.first_name }} {{ employee.last_name }} - {{ employee.position }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %} 
            </article>

            <div class="vstack gap-2 col-md-5 mx-auto mb-3">
                {% if request.user|has_group:'admin' or request.user.is_staff or request.user.is_superuser %}
                    <a href="{% url 'freelance-contracts-edit' pk=object.pk %}" class="btn btn-warning">Редактиране</a>
                    <a href="{% url 'freelance-contracts-delete' pk=object.pk %}" class="btn btn-danger">Изтриване</a>
                {% elif request.user|has_group:'administrative_manager' or request.user|has_group:'document_controller' %}
                    <a href="{% url 'freelance-contracts-edit' pk=object.pk %}" class="btn btn-warning">Редактиране</a>
                {% endif %}
            </div>

        </section>

        {% include "components/pdf-viewer.html" %}

    </div>


{% endblock  %}
