{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Изтриване на новина.</h2>

        <form method="post">

            <p>Автор: {{ object.author }}</p>
            {{ form }}
            <p>Дата и час на създаване: {{ object.date|date:"d.m.Yг. - H:i часа." }}</p>
            {% csrf_token %}

            <button type="submit">Изтрий</button>
            <a href="{% url 'news-details' pk=object.pk %}">Откажи промените</a>

        </form>
    </section>
{% endblock  %}
