{% extends 'base.html' %}
{% load check_group_exists %}
{% load add_field_attribute %}

{% block content %}

    <section>
        <h2>Редактиране на идентификатор.</h2>

        <form method="post" enctype="multipart/form-data">

            {% if request.user|has_group:'admin' or request.user|has_group:'administrative_manager' or request.user|has_group:'document_controller' or request.user.is_staff or request.user.is_superuser %}
                
                {% if form.errors %}
                    <ul>
                        {% for error_list in form.errors.values %}
                            {% for error in error_list %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for field in form %}
                    <div class="mb-3">

                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

                        {{ field|add_field_classes:'form-control' }}

                        {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                    <li><span>{{ error }}</span></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        
                    </div>
                {% endfor %}
            {% endif %}
            
            {% csrf_token %}
            
            <div class="vstack gap-2 col-md-5 mx-auto mb-3">
                <button type="submit" class="btn btn-success">Редактирай</button>
                <a href="{% url 'positions-id-dashboard' %}" class="btn btn-outline-secondary">Откажи промените</a>
            </div>

        </form>

    </section>
    
{% endblock  %}