{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Изтриване на документ във входящ регистър.</h2>

        <form method="post">

            <p>Номер в регистъра: {{ object.log_num }}</p>
            {{ form }}
            <p>Регистриран на: {{ object.creation_date|date:"d.m.Yг. в H:i часа." }}</p>
            <p>Последна промяна: {{ object.last_change_date|date:"d.m.Yг. в H:i часа." }}</p>
            {% csrf_token %}

            <button type="submit">Изтрий</button>
            <a href="{% url 'incoming-details' pk=object.pk %}">Откажи промените</a>

        </form>
    </section>
{% endblock  %}
