{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Детайли за {{ object.title }} създаден на {{ object.creation_date|date:"d.m.Yг. в H:i часа" }}</h2>

        <p>Номер в регистъра: {{ object.log_num }}</p>
        <p>Описание: {{ object.title }}</p>
        <p>Дата на регистрация: {{ object.creation_date|date:"d.m.Y - H:i" }}</p>
        {% if object.document_img %}
            <img src="{{ object.document_img.url }}" alt="Incoming Document Image">
        {% endif %}
        
        {% for opinion in object.personopinion_set.all %}
            <div>
                {{ opinion.opinion }}
            </div>
        {% endfor %}

        <a href="{% url 'incoming-edit' pk=object.pk %}">Редактиране</a>
        <a href="{% url 'incoming-delete' pk=object.pk %}">Изтриване</a>

    </section>
{% endblock  %}
