{% extends 'base.html' %}
{% load add_field_attribute %}

{% block content %}
    <section>
        <h2>Изтриване на документ във входящ регистър.</h2>

        <form method="post" enctype="multipart/form-data">

            {% comment %} <p>Номер в регистъра: {{ object.log_num }}</p> {% endcomment %}
            {% for field in form %}
                <div class="mb-3">

                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field|add_field_classes:'form-control' }}

                </div>
            {% endfor %}
            {% comment %} <p>Регистриран на: {{ object.creation_date|date:"d.m.Yг. в H:i часа." }}</p> {% endcomment %}
            <p>Последна промяна: {{ object.last_change_date|date:"d.m.Yг. в H:i часа." }}</p>
            {% csrf_token %}

            <div class="vstack gap-2 col-md-5 mx-auto mb-3">
                <button type="submit" class="btn btn-danger">Изтрий</button>
                <a href="{% url 'incoming-details' pk=object.pk %}" class="btn btn-outline-secondary">Откажи промените</a>
            </div>

        </form>
    </section>
{% endblock  %}
