{% extends 'base.html' %}
{% load add_field_attribute %}

{% block content %}

    <form method="post">
        

            {% for field in form %}
                <div class="mb-3">

                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li><span style="color: red">{{ error }}</span></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ field|add_field_classes:'form-control' }}

                </div>
            {% endfor %}

            {% csrf_token %}

        
        <button type="submit" class="btn btn-primary mb-3">РЕГИСТРИРАЙ СЕ</button>

    </form>
    <p>Ако вече сте регистриран потребител, може да се впишете в системата от <a href="{% url 'login' %}">тук</a></p>

{% endblock  %}
