{% extends 'base.html' %}

{% block content %}

    <section>
        <h2>Редактиране на информацията в потребителският профил</h2>

        <form method="post"> {% comment %}  action="{% url 'user-edit' pk=user.pk %}"  {% endcomment %}

            {{ form }}
            {% csrf_token %}

            <button type="sumit">Запазване на промените</button>


        </form>

        <a href="{% url 'change-password' %}">Промяна на парола</a>
        <a href="{% url 'user-details' %}">Отказ на промените</a>
    </section>
    

{% endblock %}