{% extends 'base.html' %}

{% block content %}

    <section>

        <h2>Информация за потребителският профил</h2>

        <p>E-mail: {{ request.user.email }}</p>
        <p>First Name: {{ request.user.profile.first_name }}</p>
        <p>Last Name: {{ request.user.profile.last_name }}</p>
        <p>Position: {{ request.user.profile.position }}</p>
        <a href="{% url 'user-edit' %}">Редактиране</a>
        <a href="{% url 'user-delete' %}">Изтриване</a>

    </section>

{% endblock %}