{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Детайли за {{ some.title }} създаден на {{ some.creation_date|date:"d.m.Y" }} в {{ some.creation_date|date:"H:i" }}</h2>

        <p>{{ object.title }}</p>
        <p>{{ object.recipient }}</p>
        <p>{{ object.signatory_name }}</p>
        <p>{{ object.signatory_position }}</p>
        <p>{{ object.creation_date }}</p>
        <img src="{{ object.document_img.url }}" alt="Outgoing Document Image">

        <a href="{% url 'outgoing-edit' pk=object.pk %}">Редактиране</a>
        <a href="{% url 'outgoing-delete' pk=object.pk %}">Изтриване</a>

    </section>
{% endblock  %}