{% extends 'base.html' %}

{% block content %}

    <section>
        <h2>Редактиране на документ в изходящ регистър.</h2>

        <form method="post" enctype="multipart/form-data">

            <p>Номер в регистъра: {{ object.log_num }}</p>
            {{ form }}
            <p>Регистриран на: {{ object.creation_date|date:"d.m.Yг. в H:i часа." }}</p>
            {% csrf_token %}
            
            <button type="submit">Редактирай</button>

        </form>

        <a href="{% url 'outgoing-dashboard' %}">Откажи промените</a>
    </section>
    
{% endblock  %}
